@charset "UTF-8";
* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.dot1 {
  content: "•";
  width: 6px;
  height: 6px;
  background: #B3B3BA;
  border-radius: 50%;
}

.dot2 {
  content: "•";
  width: 6px;
  height: 6px;
  background: #B3B3BA;
  border-radius: 50%;
}

.header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.header__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 60px 0px;
}
@media (max-width: 576px) {
  .header__block {
    display: none;
  }
}

.header__contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
}
.header__contact span {
  font-weight: 400;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  color: #24A3FF;
}

.burger {
  display: none;
}
@media (max-width: 576px) {
  .burger {
    display: block;
  }
}

.burger__menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #323264;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/* Меню, которое будет появляться */
.menu__burger {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 15px;
  text-align: center;
  background: #FFFFFF;
  color: #24A3FF;
  border-radius: 12px 12px 0px 0px;
  transform: translatey(100%);
  transition: transform 0.5s;
}

.menu__burger.active {
  transform: translateX(0);
}

.menu__burger li {
  list-style-type: none;
}

.menu__burger ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.menu__burger li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 7px 0px;
  background: #F5F5FA;
  border-radius: 12px;
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.header__contact-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #F5F5FA;
  margin: 0 -20px;
}

.list-burger li {
  display: inline-block;
}

.burger {
  z-index: 20;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  /* Gradient / Red Text */
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: -15px;
}

.content {
  display: flex;
  gap: 60px;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__p {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.content__link {
  line-height: 20px;
  color: #24A3FF;
}

.footer__adres {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 2px solid #E6E6F0;
}
.footer__adres span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer__adres a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.footer__adres-llc span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}

.footer__tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466E;
}

.footer__email {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.footer__adres-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 576px) {
  .footer__block {
    display: none;
  }
}

@media (min-width: 577px) {
  .footer__mob {
    display: none;
  }
}
@media (max-width: 576px) {
  .footer__mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */